[2012-08-18 06:32] drejohnson opened #1 "Can't create project using Compass v0.13.alpha.0"
this is the error I get in terminal

[code]

[2012-08-18 06:50] drejohnson commented on #1
may be a issue with Compass v0.13.alpha.0 more then Toolkit

[2012-08-19 08:06] Snugug commented on #1
So, from the error you've put up here, it actually sounds like an rvm configuration issue as opposed to either a Toolkit or a Compass issue. In fact, someone recently had a similar issue with another project I work on and that turned to be an RVM issue.

I just installed the latest Toolkit from RubyGems, have Compass 0.13.alpha.0 on my computer, and the following command runs fine;

`compass creat

[2012-08-19 16:36] drejohnson commented on #1
thanks, that resolved it.

[2012-08-19 16:36] #1 closed, assigned to nobody

[2012-10-04 18:32] yahreen opened #3 "CodeKit Error on Compile"
I created a new project using the command line:

`compass create <my_project> -r toolkit --using toolkit/susy`

Then load the project into CodeKit.

I then add a line of code into `_design.scss`:

[code]

and receive this error:

[code]

[2012-10-04 18:33] Snugug commented on #3
CodeKit, by default, doesn't use the native Compass compiler and therefore can't find Compass extensions, including Toolkit. Have you made sure that your CodeKit points to your native Compass gem?

[2012-10-04 19:44] yahreen commented on #3
I used `gem env path` and set both CodeKit's Compass & Sass paths to my native gems (`/Users/user/.rvm/gems/ruby-1.9.3-p194/gems/...`).

[2012-10-04 19:46] Snugug commented on #3
You're using RVM. Do you have Toolkit's gem include in your lock?

On Thursday, October 4, 2012 at 3:44 PM, yahreen wrote:

[2012-10-04 19:51] yahreen commented on #3
Sorry, I'm not familiar with lock files. Should I not use RVM? I'm on OS X Mountain Lion.

Compass.app reports:

[code]

[2012-10-04 19:53] Snugug commented on #3
If you're new to Ruby, RVM may not be a great tool to get started with because it requires you to know how to lock gems to your project so you can use them. Read up on RVM and once you've figured it out and have tried to add Toolkit to your RVM lock, let me know if you still have the problem.

On Thursday, October 4, 2012 at 3:51 PM, yahreen wrote:

[2012-10-04 19:56] yahreen commented on #3
Can I use Toolkit without RVM?

[2012-10-04 19:57] Snugug commented on #3
Yes you can, and you can use it with RVM. The issue you're having appears to be RVM related, not Toolkit related.

On Thursday, October 4, 2012 at 3:56 PM, yahreen wrote:

[2012-10-09 20:03] #3 closed, assigned to nobody

[2012-10-24 18:06] gmclelland opened #4 "replace-text-pe mixin - text showing in IE9"
Hi Snugug,
I've been using the @mixin replace-text-pe, but then I noticed that in IE9 it shows the text on top of the image.

I noticed that h5bp changed their image replacement technique https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757c9e03dda4e463fb0d4db5a5f82d7 to use http://nicolasgallagher.com/another-css-image-replacement-technique/

So I thought maybe I could try that new techn

[2012-11-02 12:55] Snugug commented on #4
Do you know which extendable is being called? `%replace-text-pe-squish` or `%replace-text-pe-hide` and do you know if you're using the right one? If it's an inline element, you should be including `$inline-element: true` in the mixin call, and that should use the method you pointed to to squish the text into oblivion, although in theory that should work regardless of it's an inline element.

[2012-11-02 13:08] gmclelland commented on #4
Hi Snugug, here is the code I'm using.  Perhaps I'm doing it wrong?  It's a svg with png fallback that should display the h1#site-name inline.

[code]

I guess I really don't understand how the extendables work.  Are they used so that someone like me can redeclare those mixins using my own text-replacement methonds instead of using the compass text replacement?

[2012-11-02 13:13] Snugug commented on #4
The extendables are there in an effort for the output of the mixin to be as DRY as possible, no end user stuff needed. If you'd prefer to use the squish text method, do the following:

[code]

For sake of better namespacing, I'm going to change $inline-element to something like `$replacement: 'hide'` or '$replacement: 'squish'` in the next release, but this should work for now.

Additionally, your

[2012-11-02 13:49] gmclelland commented on #4
Thanks, that worked.  I also had to do @include squish-text on the anchor
that is inside the H1 because any time I hover the H1#site-name it showed
some text-decoration.

Thanks for the heads up on the rems, I was hoping to replace all instances
of rem with a rem mixin that should handle the LTIE9s.
https://github.com/ry5n/rem

On Fri, Nov 2, 2012 at 8:13 AM, Snugug notifications@github.com wrote:

[2012-11-02 13:55] Snugug commented on #4
I was going to add a similar rem mixin to Toolkit, now I may just include that one. Good to know that already exists.

Either way, you just said something that makes this all make much more sense, and I can explain exactly what was wrong before for you. So. while you were doing a replace text on the `h1`, which is a block element, the actual text lives inside the `a` tag in the `h1`, so that's the

[2012-11-02 13:55] #4 closed, assigned to nobody

[2012-11-02 14:36] gmclelland commented on #4
Yes, that make sense.  I will try that.

Here is some similar alternatives to that rem mixin if your interested:
- rem mixin at http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
- http://stitchcss.com/#relative_size
- scss-toolkit uses a version from stichcss.com see https://github.com/davidrapson/scss-toolkit/blob/master/style/scss/functions/_relative-size.scss
- http://seesparkb

[2012-11-02 20:16] gmclelland commented on #4
FYI.. I ended up using https://github.com/SimonWpt/rem which is a fork of https://github.com/bitmanic/rem that adds support for strings and colors.

I couldn't understand how to configure https://github.com/ry5n/rem when using the 10px increments trick:

[code]

should output the following but didn't:

[code]

Let me know if you come across something better.

[2012-11-10 06:24] barraponto opened #6 "Clarify Compass-dev dependency"
Why does toolkit depend on Compass 0.13.0 alpha?

[2012-11-10 11:04] Snugug commented on #6
I honestly don't remember. I'll look into it

On Nov 10, 2012, at 1:24 AM, Capi Etheriel notifications@github.com wrote:

[2012-11-14 11:39] lolmaus opened #7 ""intrinsic-ratio" mixin fails without arguments"
The readme allows using +intrinsic-ratio without arguments:

[code]

But when i do, i receive an error:

[code]

To overcome the issue, i have to specify the ratio explicitly, then it works.

[2012-11-14 11:41] Snugug commented on #7
That's interesting because I do it all the time. What version of Toolkit are you using? Type in `gem list toolkit` and tell me the highest number you've got installed.

[2012-11-14 11:45] lolmaus commented on #7
I've installed it today with "gem install toolkit".

[code]

Also, i have installed but not included compass-aurora which might have had required a previous version of toolkit?

[2012-11-14 11:46] Snugug commented on #7
Nope, you're good. Let me dig in to this. Are you including all of Toolkit or just toolkit/fluid-media?

[2012-11-14 11:50] lolmaus commented on #7
Am i doing it right?

`style.sass`:

[code]

`basic/_libraries.sass`:

[code]

[2012-11-14 11:52] Snugug commented on #7
Mostly, your import line should be `@import basic/libraries` but that shouldn't throw the error. I see that you're `libraries` file is SASS formatted, is the file that you're getting the error from SASS or SCSS formatted?

[2012-11-14 11:56] lolmaus commented on #7
Nah, SASS syntax allows optional underscores, file extensions and single or double quotes.

It's SASS, you can see that from the error text.

The erroneous line was:

[code]

But i'm using Susy that way and it works great.

[2012-11-14 12:01] Snugug commented on #7
As does SCSS, but the best practice is to not include the underscore or file extension, but again, this is neither here or there.

I will take a look at the error when I get in to work. There may actually be some functional differences between SASS and SCSS syntax, but I hope not. I'll report back.

[2012-11-14 13:14] Snugug commented on #7
I've found the issue, will push out an update when I get to work and have Internet

[2012-11-14 13:18] lolmaus commented on #7
Yay! I'm happy that i was helpful to you.

[2012-11-14 17:24] Snugug commented on #7
Solved

[2012-11-14 17:24] #7 closed, assigned to nobody

[2012-11-29 21:48] Snugug commented on #6
Removed the alpha dependency.

[2012-11-29 21:48] #6 closed, assigned to nobody

[2012-11-30 14:42] dandineen opened #8 "@extend error _fluid-media.scss"
Hi there,

I'm getting an error from LiveReload when I first try and import Toolkit.

I've added require "Toolkit" into my config.rb and added @import "Toolkit" at the top of my screen.scss. When I save this file I get the following error from LiveReload:

error sass/screen.scss (Line 25 of _fluid-media.scss: Invalid CSS after "    @extend ": expected selector_sequence, was "%intrinsic-rati...")

[2012-11-30 15:09] dandineen commented on #8
I think I can see what the problem is! LiveReload uses its own version of Sass and Compass - I think they're too old. I'm trying compiling through the CLI and things seem to be working OK.

[2012-11-30 19:51] barraponto commented on #8
Yes. Selectors starting with a `%` are placeholder selectors, a new feature from SASS 3.2

[2012-12-02 21:17] dandineen commented on #8
That settles that then ;-) Thanks for the help.

[2012-12-02 21:17] #8 closed, assigned to nobody

[2012-12-30 04:23] robwierzbowski opened #12 "Tint and Shade now in Compass"
I believe the `tint()` and `shade()` functions in Toolkit are identical to the ones now in Compass ([1](https://github.com/chriseppstein/compass/blob/stable/lib/compass/sass_extensions/functions/colors.rb), [2](http://compass-style.org/reference/compass/helpers/colors/#shade)). Since Toolkit requires Compass, these can probably be removed.

[2012-12-30 10:15] Snugug commented on #12
While it's true that `tint()` and `shade()` are both in Compass 0.12, I for the life of me haven't been able to get them to actually work out of the box. Considering they do identical things in identical ways, and I've gotten this one to work, I'm going to keep it in for now. I'll revisit on the next Compass release

[2012-12-30 10:15] #12 closed, assigned to nobody

[2013-01-04 16:13] scottkellum opened #13 "Don’t write styles by default"
Toolkit writes a far amount of CSS by default that can cause problems when importing it into existing projects. Would be nice if styles could be added with something like `@import toolkit; @include toolkit;` instead of just `@import toolkit;`.

[2013-01-04 19:23] Snugug commented on #13
When using `@import 'toolkit';` you are importing _all_ of Toolkit, including the partials designed to write styles. There are two partials that do so, the Border Box partial that adds `*, *:before, *:after { @include box-sizing('border-box'); }` and the Fluid Media partial that adds

[code]

I'm not going to create a mixin to write these styles as that's a bit much, but I'd be willing to consider

[2013-01-04 19:23] Snugug opened #14 "Include Box Sizing Polyfill Install"
As above.

[2013-01-04 19:27] scottkellum commented on #13
I think thats it. Maybe we should break fluid media down so just the intrinsic ratio can be imported as needed?

[2013-01-04 19:28] Snugug commented on #13
I'm OK with splitting Fluid Media into Fluid Media and Intrinsic Ratio, as they are two different things.

On Friday, January 4, 2013 at 2:27 PM, Scott Kellum wrote:

[2013-01-07 18:52] Snugug opened #15 "Triangles Are Broken"
Input Sass:

[code]

Output CSS

[code]

The border-width property is wrong, and changing the 135s to 135px does not produce the correct triangle,

[2013-01-07 19:42] scottkellum commented on #15
`270` is not a compatible measurement for width.

`triangle($color, $height, $width, $angle)`

[2013-01-07 19:50] #15 closed, assigned to scottkellum

[2013-01-14 16:22] Snugug commented on #13
Spun Intrinsic Ratio into its own partial, updated gem accordingly.

[2013-01-14 16:22] #13 closed, assigned to nobody

[2013-02-26 14:19] lolmaus opened #16 "[support req] How is style guide supposed to be used?"
Hi!

Templates contain a `style guide` partials section. How is it supposed to be used?

A comment there suggests both design and layout code should go there.

If it is solely a recommendation on how to theme the website, then why is it getting imported?

PS Thank you!

[2013-02-26 14:35] lolmaus commented on #16
Oh, i've got an answer here:
https://github.com/Snugug/susy-style-guide/tree/master/sass/partials/

The `design` section is for site modules (blocks, regions, panels, views, nodes).

The `styleguide` section is for generic stuff like typography, colours, etc.

[2013-02-26 14:35] #16 closed, assigned to nobody

[2013-04-04 12:24] since1976 opened #17 "Equal height giving error"
I'm getting an error while trying to use the equal height mixin.
I would like to create a single line to break up my two column layout using the below code

[code]

But am getting this error message in the terminal: `/Library/Ruby/Gems/1.8/gems/toolkit-0.2.6/stylesheets/toolkit/_equal-height-columns.scss:40 DEBUG: red, red 25%`

Any ideas what I might be doing wrong?

Details:
Sass 3.2.7
Compass 0

[2013-04-04 14:12] Snugug commented on #17
Good news! That's not an error, it's a Sass Debug statement printing requested information required to help me build that feature. Bad news! I forgot to remove my debug statements before pushing production code! Good news! It's been fixed; thanks for letting me know!

[2013-04-04 14:12] #17 closed, assigned to nobody

[2013-05-01 16:57] #14 closed, assigned to nobody

[2013-05-08 23:03] yahreen opened #19 "Broken Behavior path"
When I compile my CSS, I see this broken path for legacy browsers:

[code]

Is that supposed to be there?

[2013-05-08 23:32] Snugug commented on #19
Yes it is, however it seems as if I forgot to document the install for the behavior. Run `compass install toolkit/box-sizing" one folder back from your CSS directory (a Behaviors folder should be created and be a sibling to your CSS Dir)

[2013-05-08 23:32] #19 closed, assigned to nobody

[2013-05-09 16:35] yahreen commented on #19
I get: `No such framework: "toolkit"`

[2013-05-09 16:58] Snugug commented on #19
But… that's not physically possible. You're using toolkit. Are you simply importing the Sass files from a cloned repository, or are you using the Compass extension? If you're using the Compass extension as extensions are designed to be used, then it's physically not possible for you to both be using the extension and for it not to be available.

[2013-06-04 13:58] gtrufitt opened #23 "Don't add border-box to all elements"
I know, it sounds like madness, but sometimes I don't want to add:

[code]

But I couldn't work out how to not add it - Is there a way?

[2013-06-04 14:02] Snugug commented on #23
Use `@import "toolkit-no-css";` instead of `@import "toolkit";`. This will import all of Toolkit, minus the items pieces that write out CSS, including Box Sizing and Image/Video fluid CSS. All of the mixins and extendable calsses will be available.

Additionally, if you do not need support for IE<8, I'd encourage you to [turn off support for them](http://compass-style.org/reference/compass/support

[2013-06-04 14:02] #23 closed, assigned to nobody

[2013-06-04 14:13] gtrufitt commented on #23
Wonderful, thanks!

[2013-07-29 02:26] chipcullen opened #28 "Can we have an example of what you can *do* with a colour stack?"
I just have a question on actual usage for color stacks - I love the concept, but am a little lost on actually using the results. As far as I can tell, per the code in the readme, you can set a variable with the colour stack function:

[code]

Sooooo - what can you now do with your $red-blue variable? Since the processed SCSS results in

[code]

Which, is great. But you really can't pass that as a

[2013-07-29 11:03] Snugug commented on #28
The `nth` function is how you get a color out. So, if you wanted a color that was right between red and blue, you'd use `nth($red-blue, 3)`. If you wanted red you'd use `nth($red-blue, 1)`. If you wanted a red-blue mix that was more blue than red, you'd use `nth($red-blue, 4)`.

While red/blue may not be the perfect real-world example, I use tint/shade stacks (a form of a color stack) all the time

[2013-07-29 11:03] #28 closed, assigned to nobody

[2013-07-29 11:54] chipcullen commented on #28
Perfect! That was the piece of information I was missing. I didn't know about SASS's nth function. Thank you for the explanation.

[2013-08-01 15:58] kaij opened #29 "Remove ::after and ::before for default box-sizing behaviour"
I suggest the *::after and *::before pseudoclass selectors for box-sizing (in _border-box.scss) to be removed or made optional. They may lead to slow style recalculation on mobile platforms (I had this as an issue with iOS 6 in Safari). I think it's acceptable that when using these pseudoclasses that we can specify the box-sizing method seperately.

It's not such a big issue because we can just le

[2013-08-01 16:06] Snugug commented on #29
I will not remove it, as if you don't have it they won't get the border box.

If you can provide a reduced usecase that can show a marked performance reduction from this style rule, I'm open providing a variable configuration to choose to include it or not.

The easier thing to do, if you'd still like to be able to import all of Toolkit but have it not write any CSS, you can do `@import "toolkit-n

[2013-08-02 00:29] scottkellum opened #30 "Bump Compass version to 0.13.alpha.4"
I will be bumping the version of Compass to `0.13.alpha.4` because the animation module is required for the carousels. We can either remove the need for the animation modules or we need to bump up our required version of Compass.

So I am bumping the version to `0.13.alpha.4` unless there is any objection.

[2013-08-02 00:37] Snugug commented on #30
The reason I didn't was due to not wanting to upset dependency chains until Compass and Sass 3.3 are compatible. Once they are, I'm happy to bump.

In the README for the carousel, i state you need to do it on your own, and no toolkit imports import the carousel

[2013-08-02 00:39] scottkellum commented on #30
@Snugug Cool, I will revert. Testing new gem and that was where it was failing.

I should RTFM in the future

[2013-08-02 00:39] #30 closed, assigned to nobody

[2013-08-02 00:47] Snugug commented on #30
For the record, here's the part in the README where this gets stated:
https://github.com/Team-Sass/toolkit/blob/1.x.x/README.md#carousels

[2013-08-02 02:25] Snugug opened #31 "Update Nested Context to follow Toolkit Contributing Guidelines"
Nested Context is great, but it does not follow the [Toolkit Contributing Guidelines](https://github.com/Team-Sass/toolkit/blob/1.x.x/CONTRIBUTING.md) in regards to globally setable default arguments or extend options for shared reusable pieces. Please update Nested Context to follow the guidelines.

[2013-08-02 02:34] scottkellum commented on #31
Hm, left it local because defaults are far cleaner but will add a global.

[2013-08-02 02:36] Snugug commented on #31
Take a look at how Intrinsic Ratio does it. The default is set to a globally defined variable, allowing users to change the default easily

On Aug 1, 2013, at 10:34 PM, Scott Kellum notifications@github.com wrote:

[2013-08-02 02:38] scottkellum commented on #31
yup, I know how defaults work.

[2013-08-02 02:39] Snugug commented on #31
Sorry, I'm stupid. Going to bed now.

[2013-08-02 02:46] scottkellum commented on #31
Added and pushed

[2013-08-02 02:46] #31 closed, assigned to scottkellum

[2013-08-03 10:05] kaij commented on #29
Ok, great. I think it's a more generic performance problem with CSS pseudoclasses on certain platforms. The problem is that it's very hard to provide actual numbers as you can only get the number of evaluations and not the time it took to evaluate (Safari Web Developer Profiling using external iOS device). If you have any suggestions on how to measure the actual evaluation time for CSS rules on mo

[2013-08-03 10:53] Snugug commented on #29
Without a reduced test case proving it's a generic issue and not an extreme edge case caused by the intersection of other things and evidence beyond a single bug report and a three year old jQuery UI issue, I'm not willing to make an API and mental model backwards-incompatible change to Toolkit. Doubly so as this can be solved in multiple ways with Toolkit as it stands; you can either import [`too

[2013-08-03 10:53] #29 closed, assigned to nobody

[2013-08-09 18:44] scottkellum opened #32 "Create and maintain a changelog"
Good example: https://github.com/sparklemotion/nokogiri/blob/master/CHANGELOG.rdoc

[2013-08-14 06:42] henrijs opened #33 "Improve triangle"
Currently triangle does not work if there is no content: ''; next to @include triangle();. Also, second and third argument should probably be switched, as it is standard to write X axis value (width) first and Y axis value (height) second. See http://cssarrowplease.com/ for code that always works.

[2013-08-23 05:21] lvthunder opened #35 "Toolkit Error"
In my project I use @import toolkit-no-css, but in the css output I get what's below.  Does anyone have any suggestions?

[code]

[2013-08-23 05:24] Snugug commented on #35
Please turn debug-info off and post your output CSS inside code fences (three ` at the start and end of your code, with scss immediately after the first three).

On Friday, August 23, 2013 at 1:21 AM, lvthunder wrote:

[2013-08-23 20:06] lvthunder commented on #35
Here is the output

[code]

[2013-08-23 20:13] Snugug commented on #35
Woah there, that's a little bit too much. I'm only interested in what you're getting from Toolkit, not your entire output CSS. After taking a look at both examples you've given, you are definitely importing Toolkit twice, which for extendable classes will produce duplicate CSS. It also looks like in one place you're importing `'toolkit-no-css'` while in another place you're getting just `'toolkit'

[2013-08-24 03:13] lvthunder commented on #35
I'm sorry.  I thought those messages were errors, but they weren't.  The problem I was having was elsewhere.  This is my first SASS project.  Thanks for all the help though

[2013-08-24 03:14] #35 closed, assigned to nobody

[2013-09-02 20:01] fidelix opened #37 "Selector not found when using retina-background"
(Aurora theme)
On _variables.scss:

[code]

_design.scss

[code]

[code]

Any ideas?
Thanks!

[2013-09-03 13:11] fidelix commented on #37
Never mind. I was using the wrong syntax.

[2013-09-03 13:11] #37 closed, assigned to nobody

[2013-10-07 14:29] mikl opened #40 "box-sizing: border-box; not applied in all browsers :("
I'm getting this in my compiled CSS

[code]

Which does not include the `-moz` and `-webkit` prefixed versions that are otherwise recommended: http://www.paulirish.com/2012/box-sizing-border-box-ftw/

I think it usually does, so there might be some version issue here. For this instance, I have the following installed:
- breakpoint (2.0.7)
- bundler (1.3.5)
- chunky_png (1.2.8)
- color-schemer (0.2

[2013-10-07 14:34] Snugug commented on #40
Take a look at the actual code, specifically https://github.com/Team-Sass/toolkit/blob/1.x.x/compass/stylesheets/toolkit/_box-sizing.scss#L21

What the experimental mixin from Compass does is decide what prefixes to include depending upon your level of cross-browser support as defined by your [Compass Cross-Browser Support Configuration Variables](http://compass-style.org/reference/compass/support

[2013-10-07 14:46] mikl commented on #40
Ah, my bad, hadn't noticed some code I was loading was disabling those :(

[2013-10-07 14:46] #40 closed, assigned to nobody

[2013-10-12 17:39] lmartins opened #42 "Grid-context calculations a bit off?"
I've made a gist with Sassmeister to illustrate the problem:
http://sassmeister.com/gist/6952685

Basically im trying to make the "figure" element to pull to left margin of it's container, using the nested-context mixin.

Im probably doing something wrong, but would love your input on this.

Cheers.

[2013-10-13 14:12] lmartins commented on #42
Actually I've realized that the calculations are correct:
http://sassmeister.com/gist/lmartins/6952685

[2013-10-13 14:12] #42 closed, assigned to nobody

[2013-10-28 14:22] pascalduez opened #43 "Duplicate selector using enhance-with degrade-from"
http://sassmeister.com/gist/7197433

We currently make an extensive use of the svg-background mixin for a project.
But I discovered there are a ton of duplicate and noneffective selectors.

This is coming from the fact we use are relying on extending a set of base classes.

It happens when we extend a class with the svg-background inside. Which in turn use the enhance-with and degrade-from mixins.

[2013-11-14 18:59] jeremycaldwell opened #44 "Change the image path for SVG Background mixin"
When using the "SVG Background" mixin I can't seem to get the URL to point to my image correctly when not inline and when using a PNG fallback. The sprites are generated but the paths are incorrect with my structure.

Everything seems to function correctly but my image path is different and I am getting `background-image: url("/images/logos/menu/iq.svg?1384230060");`

That is correct except I need

[2013-11-14 19:00] Snugug commented on #44
In your `config.rb` file, either set `relative_assets = true` or change `http_path` to be the correct absolute path.

[2013-11-14 19:04] jeremycaldwell commented on #44
@Snugug, I set "relative_assets" to "true" and that did the trick. Thanks!

[2013-11-14 19:04] #44 closed, assigned to nobody

[2013-12-03 14:26] timkelty opened #46 "Cannot install via Bower - color-schemer version"
[code]

[2013-12-03 14:28] Snugug commented on #46
Correct, you cannot right now. The next version of Toolkit you will be able to.

[2013-12-03 15:07] tomdavies opened #47 "Gem::ImpossibleDependenciesError when installing toolkit"
I was unsure whether to raise this on this project, as it relates to out-of-sync dependencies across a number of team sass projects.

When I attempt to `gem install toolkit` in a clean/empty gemset I get:

[code]

[2013-12-03 15:09] Snugug commented on #47
We're in the process of upgrading everything, but we can't be everywhere at all times. There will be a lag as we go through and update everything. Breakpoint was first, Singularity is next, Toolkit is last.

[2013-12-03 15:23] tomdavies commented on #47
@Snugug ok no big deal.

Are you able to point me toward is a previous (recentish) good set of versions that wouldn't have this dependency conflict? Just trying to get up on an existing project that uses toolkit (without using a Gemfile, :sigh:).

[2013-12-03 15:24] Snugug commented on #47
Gotta use a Gemfile, only way you're going to get everything working properly.

Breakpoint 2.1 and current versions of Breakpoint and Singularity should all work together fine.

[2013-12-03 15:25] tomdavies commented on #47
Thanks for the quick reply. I know re: Gemfile - other people's code etc.

[2013-12-03 15:25] #47 closed, assigned to nobody

[2013-12-03 15:26] scottkellum commented on #47
rvm is a good way to isolate your environment. I usually use both.

[2013-12-03 15:28] tomdavies commented on #47
@scottkellum yep, I'm all over bundler + rvm, just picked this project up from someone else who wasn't but will be by the time I get through with with him in about 30 mins time.

[2013-12-09 12:51] rpkoller opened #48 "Box-sizing gets added once or twice without any @include"
Today I wanted to create a stripped down test case to try something in Singularity with placeholder selectors. Thereby i ran into something completely different. ;)

I've created a test project folder only containing a config.rb file with the following required plugins:

[code]

Aside that, i've only created a scss folder and a css folder and monitored the whole thing with codekit. Then i've creat

[2013-12-11 16:27] waynedpj opened #49 "str-replace($find, $replace, $input) not working"
ahoy,

  it seems like str-replace is not working.  given the following input

[code]

the output is `DEBUG: hello`.  basically, it seems to return the `$find` string no matter what.

my current Bundler versions are:

[code]

thanks

[2013-12-11 16:32] waynedpj commented on #49
OK, i just realized that Toolkit pulls in Sassy-Strings, which also has a [`str-replace` function](https://github.com/Snugug/Sassy-Strings/blob/master/config.rb#L134) but the argument order is different than the one defined in [Toolkit's `config.rb`](https://github.com/Team-Sass/toolkit/blob/1.x.x/config.rb#L34). if i follow Sassy-Strings argument order, the function works.

is there some namespac

[2013-12-13 22:18] namavivarjita opened #50 "Unable to resolve dependencies: sass requires listen (~> 1.1.0)"
Sorry, for opening an issue actually I forget to use bundler. I installed toolkit using bundler now it's working fine.

[2013-12-13 22:31] #50 closed, assigned to nobody

[2013-12-14 00:40] rpkoller commented on #48
Hmmm i think i might figured things out. i've changed the order of plugin imports within the scss file:

Before:

[code]

Now:

[code]

Then the border-box definition is only shown once as expected. Sorry for the confusion but haven't read anything warning related regarding the import order of plugins. But makes sense now. :) Best regards Ralf

[2013-12-14 19:37] scottkellum commented on #48
Cool, all good now?

you can always use `@import 'toolkit-no-css'` if you don’t want styles written at the top of your stylesheet by default.

[2013-12-14 19:37] #48 closed, assigned to nobody

[2013-12-15 22:20] rpkoller commented on #48
Yeah all good now. Was just a bit puzzled about the behaviour in the first place, but makes total sense now. Oh and i didn't knew about @import 'toolkit-no-css' option. Nice one. Thanks

[2013-12-31 09:02] rpkoller opened #51 "Error on Toolkit install on Sass 3.2.13 and Compass 0.12.2 - Sass requires Listen ~1.1.0"
I am running Sass 3.2.13 and Compass 0.12.2 on OSX 10.8.5. with Ruby 1.8.7 (2012-02-08 patchlevel 358) [universal-darwin12.0] and Gem 1.3.6 . I had a few gem issues especially with Modular Scale. Finally lead to a striped down and simple gem set up preceded with a clean install (Just installed Sass/Compass, Breakpoint and Modular Scale):

[code]

@scottkellum already helped me over at the modular

[2014-01-10 19:28] jeremycaldwell opened #52 "Warning message when wrapping SVG background image in breakpoint"
I have SVG background working great but as soon as I wrap them in a breakpoint I get a "DEPRECATION WARNING".

[code]

Here's the code that triggers that warning message.

[code]

The code compiles correctly and everything works but I'm wondering how to get around it throwing an error each time and how to code this a bit differently.

I tried creating a mixin with "content: "TEST";" and calling it

[2014-01-23 04:25] Snugug opened #54 "Change $direction to $position in IR"
Position is more clear as to exactly what's going to happen I think.

[2014-01-28 03:47] yuvilio opened #57 "WARNING: The compass/css3/shared module has been deprecated"
Got this warning:

[code]

Tested with this stack:

[code]

[2014-01-28 04:04] Snugug commented on #57
Yup. Look at the prerelease (2.x.x) where this has been fixed, but some of the Compass dependent modules have been deprecated.

[2014-01-28 16:24] yuvilio commented on #57
Oh great. I can install that via local build until it's available as a prerelease or main release.  Thanks @Snugug !

[2014-01-28 16:24] #57 closed, assigned to nobody

[2014-01-28 16:26] Snugug commented on #57
It's currently available as `2.0.0.alpha.6`

[2014-01-28 17:26] starryeyez024 opened #58 "Typo? $ratio != $ration"
Sassmeister is automatically using the most recent version of the Toolkit gem, which is 2.0.0.alpha.6.

My Sass, which worked last week, is now generating the error:
Undefined variable: "$ration".

http://sassmeister.com/gist/starryeyez024/7951177

[2014-01-28 19:00] Snugug commented on #58
:( I thought I squashed all of those bugs! In fact, I distinctly remember squashing this bug. I guess not. I'll push an update!

[2014-01-31 00:23] wesgro commented on #51
It seems like the dependencies for the Toolkit --pre option are now applying to 1.3.8 which makes installing it with compass 0.12 and sass 3.2 impossible.

[2014-03-01 04:51] rpkoller opened #59 "Is it possible to display a Picturefill image without any bars and span residuals with the intrinsic ratio mixin?"
I've tried around quite a bit but somehow it is kind of tricky to apply the intrinsic ratio mixin to a picturefill markup. If I try a single image everything lays out fine.

[code]

[code]

![bildschirmfoto 2014-03-01 um 05 30 25](https://f.cloud.github.com/assets/1665422/2300570/b71f003a-a0fa-11e3-8c57-3563b3b67b8f.png)

a clean display - a wrapping div the ratio mixin is applied to - all fine. B

[2014-03-02 12:43] rpkoller commented on #59
Ok i got things working finally. i had to add `display:block` to the parent element for a picturefill image:

[code]

[code]

then the border and the empty box were gone. here is an example: first is a regular intrinsic img second is an intrinsic picturefill one - both have the identical extends now.

![bildschirmfoto 2014-03-02 um 13 35 06](https://f.cloud.github.com/assets/1665422/2304141/a25210

[2014-03-02 12:43] #59 closed, assigned to nobody

[2014-03-07 12:53] rpkoller opened #60 "Intrinsic ratio applied to embedded Youtube/Vimeo links not working"
I've embedded youtube and vimeo links in a Wordpress TinyMCE post. Then i tried to apply an intrinsic ratio to the iframe ( to get the video span 100% of the width and behave fluidly):

[code]

But no matter what i try 16/9, or 4/3 or 500/281 (the specified extends in the iframe markup), 1.77935942, all the time the video isn't displayed, only the space spanned and freed of other content. would a

[2014-03-07 12:56] Snugug commented on #60
Intrinsic ratios need to be applied to the wrapping element of what you want constrained, not the element itself. If you're getting your embed from within a WYSIWYG post, you're probably going to need to preprocess it to add the needed wrapping element. Read the [README](https://github.com/Team-Sass/toolkit#intrinsic-ratios), the output CSS, and the A List Apart article where they were introduced.

[2014-03-07 13:10] rpkoller commented on #60
ahhhh i just thought it would work like with picturefill. there you have the wrapping span containing all the img versions. so i thought the iframe would work as that kind of wrapper too somehow. i guess i presumed too much beforehand. my bad. tried a youtube link with a wrapper now. worked like charm. thanks!

[2014-03-07 13:10] #60 closed, assigned to nobody

[2014-03-15 16:58] #54 closed, assigned to nobody

[2014-03-27 10:18] #58 closed, assigned to nobody

[2014-05-29 01:32] xzykho opened #66 "Unable to activate toolkit-2.3.0, because sass-3.2.19 conflicts with sass (~> 3.3.0)"
I cannot find any solutions on how to fix this conflict.

[2014-05-29 14:43] Snugug commented on #66
Toolkit 2.x.x requires Sass 3.3.x or higher. If you are using a Gemfile [as recommended](https://github.com/Team-Sass/toolkit#installation), it means you have a Gem dependency somewhere that's incompatible with Sass 3.3, and hence Toolkit isn't working. If you are not using a Gemfile and Bundler, do so.

Please keep in mind that Compass 0.12.x is not compatible with Sass 3.3.x, you need to use Com

[2014-05-29 14:43] #66 closed, assigned to nobody

[2014-05-29 23:52] xzykho commented on #66
Thank you I really appreciate this... I was thinking the same things but I couldn't wrap my head on which ones depends on what.

[2014-06-07 17:13] lolmaus opened #67 "Update links on RubyGems.org"
https://rubygems.org/gems/toolkit

Project links lead to an obsolete repo.

[2014-06-07 17:31] lolmaus commented on #32
Changelog is out of date. Luckily, this issue is still open.

Can you please update the changelog?

[2014-07-15 08:06] #51 closed, assigned to nobody

[2014-07-17 18:02] finteractive opened #69 "Consider updating kickstart's box-sizing code."
Consider implementing the "slightly better" box sizing suggested by Chris Coyier.
http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

[code]

I've run into the need to fight the inheritance for 3rd party libraries that expect box-sizing: content-box and this technique removed the need to define box-sizing: content-box multiple times for elements nested inside a lar

[2014-07-30 01:49] joelpittet commented on #69
That looks like it plays nice. fosterinteractive++

[2014-07-30 15:43] SiddigZeidan opened #70 "Diff versions of SASS conflicting"
Installing the toolkit today, I get this error in the terminal when compass watch:

" Unable to activate toolkit-2.5.2, because sass-3.2.19 conflicts with sass (~> 3.3.0)"

[2014-07-30 15:45] Snugug commented on #70
Yup! You should be using [Bundler](http://bundler.io/) to manage your Gem dependencies and Compass version `1.0.0.alpha.20` or greater (as that's the version of Compass compatible with Sass 3.3).

Toolkit 2.x requires Sass 3.3 or higher.
Compass 1.0.0.alpha.x is stable, been using it for a while, pretty much waiting on a handful of changes to Sass to push it out of Alpha IIRC.

[2014-07-30 15:45] #70 closed, assigned to nobody

[2014-08-04 18:08] ghost opened #71 ""Rainbow" Border Mixin"
Might be a bit niche, but it's a nice little mixin to create multicolored stripes.

From [this article](http://www.sitepoint.com/rainbow-border-with-sass/) by Hugo Giraudel.

Seems like it could play nicely with Color Stacks.

[2014-08-04 18:09] Snugug commented on #71
Roll up a pull request and I'll take a look

[2014-08-19 18:34] lolmaus opened #73 "Support for Sass 3.4?"
Toolkit has Sass locked at 3.3.

Can you bump the version?

[2014-08-19 18:35] Snugug commented on #73
Duplicate of #72

[2014-08-19 18:35] #73 closed, assigned to nobody

[2014-08-19 18:36] lolmaus commented on #73
Sorry, i'm still not used that pull requests are now on a separate tab.

[2014-08-19 18:36] Snugug commented on #73
No worries

[2014-08-24 22:13] mikl opened #76 "font-face mixin collides with identically named mixin from Compass, but with different syntax"
Toolkit has a very useful `font-face` mixin, but if you're used to using Compass, you might be used to using [their `@import font-face([…])`](http://compass-style.org/reference/compass/css3/font_face/).

Problem is that the two different versions have different syntax, and if you have both Toolkit and Compass loaded, which one gets used is not quite clear.

So if I use this syntax (which would wor

[2014-08-24 22:19] Snugug commented on #76
This was done very intentionally to ensure a user is only using one font face mixin. They take different approaches with Toolkit adding additional tooling around `.woff` files.

I will double check that this cannot be accomplished with `font-files` but I'm fairly certain it can't which is why it exists as it does.

In Sass, mixins cascade just like styles. If you import Toolkit after Compass, you'

[2014-08-24 22:38] mikl commented on #76
Ok, is the syntax for the Toolkit version documented anywhere? I tried doing something like the following, but it doesn't seem to work:

[code]

(output is this):

[code]

[2014-08-24 22:47] Snugug commented on #76
Like everything else, it's documented [in the README](https://github.com/Team-Sass/toolkit#font-face)

[2014-08-24 22:48] #76 closed, assigned to nobody

[2014-08-24 22:49] Snugug commented on #76
You can also look [at the tests](https://github.com/Team-Sass/toolkit/blob/2.x.x/tests/tests/03-fonts.scss#L31) for an example

[2014-08-24 22:52] mikl commented on #76
Sorry to be that guy, but I did look at the README before posting this, and I couldn't figure it out. I'll try taking a look at the tests to see if I can figure it out :)

[2014-08-25 16:15] Ambient-Impact opened #77 "Underlines being misplaced in Chrome for Android with font size change"
Hi there. I've noticed that (at least on [my own site](http://ambientimpact.com/)) the underlines sometimes get placed partway up the letters instead of underneath. From what I can tell, this has something to do with setting Chrome's default font size as something other than 100% (I have it set to 125% on my tablet). It also doesn't happen on every page load, and seems to only happen when revisiti

[2014-08-25 22:05] mikl commented on #76
In case someone else is having trouble with the syntax, here's a working example:

[code]

[2014-08-27 19:54] Ambient-Impact commented on #77
For anyone interested, I've found a bit of a hack that seems to cause Chrome to recalculate the background image. It seems that animating or transitioning something on the link element will do, although I've only tested opacity. Here's the CSS:

[code]

and the JavaScript:

[code]

I don't know if this has any significant performance implications on a page with lots of links, but it works fine on

[2014-08-27 19:54] #77 closed, assigned to nobody

[2014-09-20 15:30] tanc opened #78 "Sprite and SVG background functions in 2.x"
I've just updated to 2.x toolkit and noticed the sprite and SVG background mixins have been removed. Are available anywhere else? Can you suggest alternatives if there are better implementations out there?

[2014-10-23 21:20] jonassmedegaard opened #79 "Dual-licensing too vague (and possibly irrelevant)"
Project is dual-licensed under MIT and GPL.

The MIT part is ambiguous - there are multiple licenses are labelled as "MIT", but that one is spelled out in the LICENSE file as being what unambiguously could be labelled as "Expat".

The GPL part is ambiguous too - and is not spelled out, just references the GNU web page for that license.  What is missing is which version, and if permitted to replace

[2014-10-23 21:38] jonassmedegaard commented on #79
Ah, I spotted now that Gemspec says "GPL-2.0" - so arguably this is all good (except that it is difficult to locate, and except it is still superfluous - e.g. if _only_ version 2 then that can be circumvented via the Expat licensing)

[2014-10-23 21:42] scottkellum commented on #79
I just removed GPL. The idea was to support as many edge cases as possible meh, dual licence is always a bit confusing #yolo

[2014-10-23 21:42] #79 closed, assigned to nobody

[2014-11-04 12:28] philwareham opened #80 "Add support for WOFF2 fonts"
The `@font-face` mixin currently does not allow for WOFF2 format fonts - they are now supported by Chrome and Opera.

[2014-11-19 00:23] rocksoup commented on #76
@mikl Thanks you for this comment! I spent way too long trying to figure this out before I found your comment which was exactly what I needed.

[2014-12-22 23:59] aberman opened #85 "Extra semi-colon preventing proper linting in _colors.scss"
Line 113 of _colors.scss has an extra semi-colon which should not be there.

[2014-12-23 00:00] #85 closed, assigned to nobody

[2015-01-04 22:19] 58bits opened #86 "Bower Version"
Just wondering if there's a reason the bower version is still at 2.5.0, while the Ruby gem version is 2.6.0?

[2015-01-27 20:30] mhaagens opened #87 "Not getting underlines"
I'm trying to get the underlines to work, but they're not showing up.
The drawing of the background etc. works, but the underline doesn't show up.
If I add text-decoration: underline, the descenders are still hidden my the underline.

`a {
    @include underline(#fff,#000, true, 1, 2, false);
}`

Any tips for me?

[2015-02-16 16:49] josephrexme opened #88 "Parallax not working as expected"
I had sought for a detailed usage guide on the parallax feature but couldn't find one. I went on to try it anyway and I landed at this http://codepen.io/bl4ckdu5t/pen/azqRgN which isn't working

[2015-02-20 19:48] scottkellum commented on #88
Hi @bl4ckdu5t, It appears you wrote `@parallax(-2, 1);` and there are two problems with this:
1. The mixin syntax needs to be `@include parallax(-2, 1);`
2. The position of this element will be below the other elements on your page. A positive parallax value may be better like `@include parallax(.5, 1);`. Note that both z-index AND spacial positioning are set here so even if you override z-index t

[2015-02-21 15:46] josephrexme commented on #88
I generally forget to use `@include` most times even with breakpoint. I changed it to a positive parallax value as advised and it's all fine. Thanks

[2015-02-21 15:46] #88 closed, assigned to nobody

[2015-03-03 18:31] Snugug commented on #32
Changelog is up to date starting with 2.7.0

[2015-03-03 18:31] #32 closed, assigned to nobody

[2015-03-03 18:32] Snugug commented on #86
Fixing all of that

[2015-03-03 18:32] #86 closed, assigned to nobody

[2015-03-03 18:33] Snugug commented on #87
You've gotta jiggle with the the distance in like `.1` increments. I used a a default but that changes pretty quickly based on the font you use.

[2015-03-03 18:40] #69 closed, assigned to nobody

[2015-03-03 18:40] #80 closed, assigned to nobody

[2015-07-07 18:05] davo20019 commented on #76
Thanks for your comment @mikl

[2015-11-19 14:22] strarsis opened #89 "Declare an eyeglass version"
I get this message when compiling with sass

[code]

[2016-02-21 15:49] #87 closed, assigned to nobody

[2016-02-21 15:49] Snugug commented on #78
Take a look at Eyeglass
https://github.com/sass-eyeglass/eyeglass

[2016-02-21 15:49] #78 closed, assigned to nobody

[2016-02-21 15:53] #89 closed, assigned to nobody

[2016-02-21 15:53] #67 closed, assigned to nobody

[2016-09-17 16:21] OvidiuS opened #90 "content-fade-in() mixin error"
When trying to use:

`@include content-fade-in();`

i get this error:

`
Base-level rules cannot contain the parent-selector-referencing character '&'.
    Backtrace:
        node_modules/sass-toolkit/stylesheets/toolkit/_fonts.scss:132, in mixin content-fade-in
        stdin:7
          in E:\~work\Webpack-Start-Boilerplate\node_modules\sass-toolkit\stylesheets\toolkit\_fonts.scss (line 132, colu

[2017-05-18 11:34] lolmaus opened #92 "Images no longer available in readme"

[2018-04-26 10:15] lolmaus commented on #92
One year later, humbly asking to fix the images. :bowing_man: